<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Registro</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th>
          <th scope="col">ECG</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>João André Viralindo</td>
          <td>340.578.698-99</td>
          <td>61 988767-5434</td>
          <td> <a routerLink="grafico" routerLinkActive="router-link-active"  class="btn btn-warning" style="color: black;">Monitorar</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>